<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">StayReady</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="mr-4">
        <ul class="flex gap-2">
          <li
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a [routerLink]="['/']">Home</a>
          </li>
          <li><a [routerLink]="['/counter']">Contador</a></li>
          <li><a [routerLink]="['/fetch-data']">Fetch data</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
